<p>Here you can monitor in real-time the <strong>status of the communication between Agave and your Continuous Deployment</strong>.</p>
<p>If something goes wrong during the publishing process, this is the first place to look for hints.</p>
