<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cantierecreativo.github.io/bemo/stylesheets/application.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/sindresorhus/github-markdown-css/gh-pages/github-markdown.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/aahan/pygments-github-style/master/github.css">
  </head>
  <body>
    <div class="hero">
      <div class="hero__body">
        <div class="hero__body__inner">
          <div class="hero__heading">
            <%= name.titleize %> API
          </div>
        </div>
      </div>
    </div>
    <div class="space--both-5 wrap">
      <div class="grid--wide">
        <div class="grid__item desk-4-12">
          <div class="formatted-content">
            <%= html_toc %>
          </div>
        </div>
        <div class="grid__item desk-8-12">
          <div class="markdown-body">
            <%= html_body %>
          </div>
        </div>
    </div>
  </body>
</head>

